<div class="container" novalidate>
  <div class="head-allign">
    <h3 class="heading">Join Meeting</h3>
  </div>
  <form [formGroup]="joinMeetingForm" class="form" (ngSubmit)="joinMeeting(joinMeetingForm.value)">
    <mat-form-field appearance="outline">
      <mat-label>Meeting Id</mat-label>
      <input matInput formControlName="meetingNumber">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput type="userName" formControlName="userName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <!-- <span>{{this.zoomdetails?.password}}</span> -->
    </mat-form-field>
    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button">Join
        Meeting</button>
    </div>
  </form>
  <div class="joinMeeting">
    <mat-form-field appearance="outline" class="join_url_field">
      <mat-label>Join_url</mat-label>
      <input matInput type="userName">
      <span>{{this.zoomdetails?.join_url}}</span>
    </mat-form-field>
    <button class="join-url-button" mat-raised-button color="primary"><a href="{{this.zoomdetails?.join_url}}"
        target="_blank" class="join_url">Join Meeting</a></button>
  </div>