<!-- <div mat-dialog-content>
  <p>Zoom Details are:</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button cdkFocusInitial>Ok</button>
</div> -->
<mat-toolbar color="accent" color="primary" class ="mattoolbar"> 
    ZoomMeeting Details
</mat-toolbar> 
<mat-dialog-content>   
    <br>  
        <table class="table"> 
            <tr>  
                <th> MeetingId: </th>  
                <td> {{zoomDetails?.id}} </td>  
            </tr>    
            <tr>  
                <th> EmailId: </th>  
                <td> {{zoomDetails?.host_email}} </td>  
            </tr>    
            <tr class=startUrl>   
                <th> StartUrl: </th>  
                <td class="meeting-url"> {{zoomDetails?.start_url}} </td>  
            </tr> 
              <tr>  
                <th>Topic: </th>  
                <td> {{zoomDetails?.zoomtopic}} </td>  
            </tr>  
            <tr>  
                <th> StartTime:</th>  
                <td> {{zoomDetails?.duration}} </td>  
            </tr> 
            <tr>  
                <th> EndTime:</th>  
                <td> {{zoomDetails?.endduration}} </td>  
            </tr>  
            <tr class=startUrl>  
                <th>JoinUrl:</th>  
                <td class="meeting-url"> {{zoomDetails?.join_url}} </td>  
            </tr>  
            <tr>  
                <th>Password:</th>  
                <td> {{zoomDetails?.password}} </td>  
            </tr>  
        </table>  
    </mat-dialog-content>  
    <mat-dialog-actions align="center">  
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button cdkFocusInitial>Ok</button>    
    </mat-dialog-actions> 