.meeting-url{
    word-break: break-all;
}
.startUrl{
    vertical-align: unset !important;
}
.mattoolbar{
    height:40px;
    top:0;
    left:0;
    position:absolute;
   
}
table,tr{
  line-height:30px;  
}