.form-element{
    text-align: center;
 }
 .container {
     padding: 5px;
     width:25% !important;
   }
   .form {
     min-width: 150px;
     max-width: 500px;
     width: 100%;
   }
   .heading{
       padding-top:20px;
   }
   .meeting-Details{
   padding-top:15px;
   text-align: center;
   }
.example-full-width{
  width:250px;
}
   .spinner {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0
    }
