<div class="maincontainer">
  <!-- <mat-card class="example-card"> -->
  <div *ngIf="isLoad">
    <mat-spinner class="spinner" color="primary"></mat-spinner>
  </div>
  <div class="container">
    <h3 class="heading">Create Meeting</h3>
    <form [formGroup]="createMeetingForm" class="form" (ngSubmit)="createMeeting(createMeetingForm.value)">
      <mat-form-field class="example-full-width hideemail" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email"
          placeholder="{{this.meetingDetails?.host_email}}">{{this.meetingDetails?.host_email}}
      </mat-form-field>
      <mat-form-field appearance="outline" class="example-full-width zoomdetails">
        <mat-label>Topic</mat-label>
        <input matInput placeholder="Title" formControlName="title">
      </mat-form-field>
      <div class="dateTimePicker">
        <mat-form-field>
          <input matInput [ngxMatDatetimePicker]="pickerFrom" placeholder="From date & time"
            formControlName="datepicker" [(ngModel)]="myDatePickerFrom">
          <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #pickerFrom [enableMeridian]="true"></ngx-mat-datetime-picker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [ngxMatDatetimePicker]="pickerTo" placeholder="To date & time"
            formControlName="enddatetimepicker" [(ngModel)]="myDatePickerTo" [min]="myDatePickerFrom">
          <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #pickerTo [enableMeridian]="true"></ngx-mat-datetime-picker>
        </mat-form-field>
      </div>
      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button"
          [disabled]="!createMeetingForm.valid">Create Meeting</button>
      </div>
    </form>
    <div class="meeting-Details">
      <button mat-raised-button color="primary" [disabled]="btnDisabled" (click)="openDialog()">ZoomMeeting
        Details</button>
    </div>
  </div>
</div>