.wrapper {
    text-align: center;
    margin: auto;
    width: 80%;
    margin-top: 15%;
    flex-direction: column;

}
// .button {
//     position: absolute;
//     top: 50%;
// }
.joinmt-button{
    margin-top:20px
}